<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="section">
        <h2>Profil</h2>
        <ul>
            <li> Saya adalah Tengku Zulfikar Rohman, seorang mahasiswa berusia 19 tahun yang sedang menempuh pendidikan di jurusan Ilmu Komputer di Universitas Pendidikan Indonesia. Saya memiliki ketertarikan yang besar terhadap teknologi dan pendidikan, yang mendorong saya untuk mengeksplorasi lebih dalam tentang cara mengintegrasikan keduanya.
                Di waktu luang, saya senang ngegym untuk menjaga kebugaran fisik dan mental. Selain itu, saya juga gemar membaca buku, terutama yang berkaitan dengan pengembangan diri dan teknologi. Bermain game juga menjadi salah satu hobi saya, di mana saya dapat bersantai dan menikmati waktu bersama teman-teman.
                Saya aktif dalam organisasi HIPMI sebagai HR, di mana saya belajar tentang manajemen sumber daya manusia dan mengembangkan keterampilan kepemimpinan. Saat ini, saya tinggal di Isola, Bandung</li>
        </ul>
    </div>
</body>
</html>